@font-face{
	font-family: "base4";
	src: url('../fonts/base4.ttf') format('trutype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Colleged";
	src: url('../fonts/Colleged,ttf') format('truetpye');
	font-weight: normal;
	font-style: normal;
}

.header h1{
	margin-top: 50px;
	margin-left: 20px;
	font-size: 40px;
	font-family: Base4;
	font-weight: bold;
	transition: all 0.3s;
}

.header{
	position: fixed;
	background-color: #eee;
	border-bottom: solid;
	border-color: #777;
	height: 120px;
	left: 0px;
	top: 0px;
	width: 100%;
	overflow: hidden;
	line-height: 80px;
	transition: height 0.3s;
}

.header.shrink{
	height: 60px;
	line-height: 40px;
}

.header.shrink h1 {
	font-size: 34px;
	margin-top: 12px;
	transition: all 0.3s;
}

.container {
	position: fixed;
	float: left;
	width: 100%;
	margin: 0;
}

.row{
	background-color: #eee;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #eee;
	border-top: solid;
	border-color: lightgray;
}

.footer p{
	top: 20px;
	float: right;
	right: 50px;
}

.fullscreen-bg{
	position: relative;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg_video {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: ;
}

#about{
	margin-top: 200px;
	background-color: transparent;
}

.about_row{
	background-color: transparent;
}

li{
	margin: 60px;
}

h3{
	margin: 0 auto;
}


.btn-default{
	border: 1px solid black;
	color: black;
	font-family: Colleged; 
	background-color: transparent;
	transition: all 0.6s ease-in-out;
}

.btn-default:hover{
	background-color: black;
	color: white;
	opacity: 1;
}

#social_1{
	position: relative;
	margin-left: 180px;
}

#social_2{
	float: right;
	margin-right: 270px;
	margin-top: -55px;
}

.category{
	font-size: 25px;
}


#donation{
	margin-left: 850px;
	margin-top: 8px;
	opacity: 0.8;
}

#don{
	font-family: Base4;
	font-size: 20px;
}


