@font-face{
	font-family: "Base4";
	src: url('../fonts/base4.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Colleged";
	src: url('../fonts/Colleged.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "CROWNT";
	src: url('../fonts/CROWNT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.header h1{
	margin-top: 50px;
	margin-left: 20px;
	font-size: 40px;
	font-family: Base4;
	font-weight: bold;
	transition: all 0.3s;
}

.header{
	position: fixed;
	background-color: #eee;
	border-bottom: solid;
	border-color: #777;
	height: 120px;
	left: 0px;
	top: 0px;
	width: 100%;
	overflow: hidden;
	line-height: 80px;
	transition: height 0.3s;
}

.header.shrink{
	height: 60px;
	line-height: 40px;
}

.header.shrink h1 {
	font-size: 34px;
	margin-top: 12px;
	transition: all 0.3s;
}

.container {
	position: fixed;
	float: left;
	width: 100%;
	margin: 0;
}

.row{
	background-color: #eee;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #eee;
	border-top: solid;
	border-color: lightgray;
}

.footer p{
	top: 20px;
	float: right;
	right: 50px;
}

.fullscreen-bg{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg_video {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: ;
}

#about{
	margin-top: 200px;
	background-color: transparent;
}

.about_row{
	background-color: transparent;
	margin: 0;
}

li{
	margin: 60px;
}

h3{
	margin: 0 auto;
}

h3.name{
	margin: 0 auto;
}

.btn-default{
	border: 1px solid black;
	color: black;
	font-weight: bolder;
	font-family: base4; 
	background-color: transparent;
	transition: all 0.6s ease-in-out;
}

.btn-default:hover{
	background-color: black;
	color: white;
	opacity: 1;
}

.btn-default.info{
	border: 1px solid black;
	font-family: base4;
	/*border: solid;*/
	/*background-color: transparent;*/
	background-color: black;
	color: white;
	border-color: white;
	text-shadow: 1px 1px 1px;
	transition: all 0.6s ease-in-out;

}

.btn-default.info:hover{
	background-color: grey;
	color: white;
	opacity: 1;
}

#social_1{
	position: relative;
	margin-left: 180px;
}

#social_2{
	float: right;
	margin-right: 270px;
	margin-top: -55px;
}

.category{
	font-size: 25px;
}


#donation{
	margin-left: 0;
	margin-top: 8px;
	opacity: 0.8;
}

#don{
	font-family: Base4;
	font-size: 20px;
}

.char_set{
	margin-top: 250px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: transparent;
}

#lutetias_btn{
	margin-left: 25%;
}

#yunex_btn{
	margin-left: 30%;
}

#lilou_btn{
	margin-left: 30%;
}

#prcc_btn{
	margin-left: 30%
}

#limmer_btn{
	margin-left: 25%;
}

#cevyy_btn{
	margin-left: 25%;
}

h4 {
	text-align: center;
	font-family: base4;
	font-size: 23px;
	font-weight: bolder;
	color: white;
}

.list-group-item{
	background-color: transparent;
	transition: all;
}

.list-group-item:hover{
	background-color: black;
}

a.list-group-item{
	color: white;
	font-family: Arial;
	font-weight: bolder;
}

#lutetias_info{
	background-color: transparent;
	display: none;
}

#yunex_info{
	background-color: transparent;
	display: none;
}

#lilou_info{
	background-color: transparent;
	display: none;
}

#prcc_info{
	background-color: transparent;
	display: none;
}

#limmer_info{
	background-color: transparent;
	display: none;
}

#chiyuo_info{
	background-color: transparent;
	display: none;
}

#fullscreen_lute{
	position: absolute;
	display: none;
}

#fullscreen_yunex{
	position: absolute;
	display: none;
}

#fullscreen_limmer{
	position: absolute;
	display: none;
}

#fullscreen_prcc{
	position: absolute;
	display: none;
}

#fullscreen_lilou{
	position: absolute;
	display: none;
}

.class{
	height: 30px;
	width: 30px;
	margin-left: -10px;
}

.icon{
	height: 40px;
	width: 40px;
}
